<div class="container">

    <div class="titleHomePage">
        <h2>Julien RITTLING</h2>
        <img src="./ressources/img/logo.png" alt="logo" title="logo">
        <p>Julien Rittling, le développeur qu'il vous faut !</p>
    </div>

    <h2 class="text-center mt-3 mb-3">Nous contacter</h2>
    {% if mail == 'success' %}
        <div class="alert alert-success" role="alert">
            Email envoyé !
        </div>
    {% elseif mail == 'error' %}
        <div class="alert alert-danger" role="alert">
            Erreur lors de l'envoi d'email
        </div>
    {% endif %}
    
    
    <form action="" method="POST" novalidate>
        <div class="row mt-5">
            <div class="col">
                {% if form['form']['first_name'] %} {# Si il y a une erreur dans le formulaire on reinsère la valeur dans l'input #}
                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Votre nom..." value="{{form['form']['first_name']}}">
                {% else %}
                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Votre nom...">
                {% endif %}
                {% if form['errors']['first_name'] %}
                    <span class="badge bg-danger">{{form['errors']['first_name']}}</span>
                {% endif %}
            </div>
            <div class="col">
                {% if form['form']['last_name'] %}
                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Votre prénom..." value="{{form['form']['last_name']}}">
                {% else %}
                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Votre prénom...">
                {% endif %}
                {% if form['errors']['last_name'] %}
                    <span class="badge bg-danger">{{form['errors']['last_name']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {% if form['form']['email'] %}
                    <input type="email" name="email" id="email" class="form-control mt-3" placeholder="Votre email..." value="{{form['form']['email']}}">
                {% else %}
                    <input type="email" name="email" id="email" class="form-control mt-3" placeholder="Votre email...">
                {% endif %}
                {% if form['errors']['email'] %}
                    <span class="badge bg-danger">{{form['errors']['email']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {% if form['form']['object'] %}
                    <input type="text" name="object" id="object" class="form-control mt-3" placeholder="Objet du message" value="{{form['form']['object']}}">
                {% else %}
                    <input type="text" name="object" id="object" class="form-control mt-3" placeholder="Objet du message">
                {% endif %}
                {% if form['errors']['object'] %}
                    <span class="badge bg-danger">{{form['errors']['object']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {% if form['form']['message'] %}
                    <textarea class="form-control mt-3" name="message" id="message" rows="3" placeholder="Message...">{{form['form']['message']}}</textarea>
                {% else %}
                    <textarea class="form-control mt-3" name="message" id="message" rows="3" placeholder="Message..."></textarea>
                {% endif %}
                {% if form['errors']['message'] %}
                    <span class="badge bg-danger">{{form['errors']['message']}}</span>
                {% endif %}
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
        </div>
    </form>

    <div class="linkHomePage">
        <a href="ressources/cv/CV_Rittling_Julien.pdf" download>Télécharger mon CV !</a>
        <a href="https://github.com/Julien-rtg">Mon Github</a>
        <a href="https://www.linkedin.com/in/julien-rittling/">Mon LinkedIn</a>
    </div>
</div>
