<div class="container">
    {% if mod %}
        <h2 class="text-center mt-4 mb-4">Modifier un post</h2>
    {% else %}
        <h2 class="text-center mt-4 mb-4">Ajouter un post</h2>
    {% endif %}
    {% if retourAdd == true %}
        <div class="alert alert-success" role="alert">
            Article ajouté !
        </div>
    {% elseif retourMod == true %}
        <div class="alert alert-success" role="alert">
            Article modifié !
        </div>
    {% elseif retourAdd != null and retourAdd != true %}
        <div class="alert alert-danger" role="alert">
            Erreur lors de l'ajout de l'article
        </div>
    {% endif %}
    <form enctype="multipart/form-data" action="" method="post">
        <div class="form-group mb-3">
            {% if form['form']['title'] %} {# Si il y a une erreur dans le formulaire on reinsère la valeur dans l'input #}
                <input type="text" name="title" id="title" class="form-control" placeholder="Titre" value="{{form['form']['title']}}">
            {% else %}
                <input type="text" name="title" id="title" class="form-control" placeholder="Titre">
            {% endif %}
            {% if form['errors']['title'] %}
                <span class="badge bg-danger">{{form['errors']['title']}}</span>
            {% endif %}
        </div>

        <div class="form-group mb-3">
            <input name="image" id="image" class="form-control" type="file" placeholder="Image">
            {% if error_image %}
                <span class="badge bg-danger">{{error_image}}</span>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {% if form['form']['chapo'] %} {# Si il y a une erreur dans le formulaire on reinsère la valeur dans l'input #}
                <textarea name="chapo" class="form-control" cols="130" rows="2" placeholder="Chapo">{{form['form']['chapo']}}</textarea>
            {% else %}
                <textarea name="chapo" class="form-control" cols="130" rows="2" placeholder="Chapo"></textarea>
            {% endif %}
            {% if form['errors']['chapo'] %}
                <span class="badge bg-danger">{{form['errors']['chapo']}}</span>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {% if form['form']['comment'] %} {# Si il y a une erreur dans le formulaire on reinsère la valeur dans l'input #}
                <textarea name="comment" class="form-control" cols="130" rows="5" placeholder="Contenu">{{form['form']['comment']}}</textarea>
            {% else %}
                <textarea name="comment" class="form-control" cols="130" rows="5" placeholder="Contenu">{{form['form']['comment']}}</textarea>
            {% endif %}
            {% if form['errors']['comment'] %}
                <span class="badge bg-danger">{{form['errors']['comment']}}</span>
            {% endif %}
        </div>

        <div class="form-group mt-2 mb-4">
            {% if mod %}
                <button class="btn btn-primary" type="submit">Modifier</button>
            {% else %}
                <button class="btn btn-primary" type="submit">Ajouter</button>
            {% endif %}
        </div>
    </form>
</div>