<div class="container d-flex flex-column align-items-center">

    <a class="btn btn-success mb-4 mt-4" href="/p_4/add_post">Ajouter un post</a>
    {% for post in posts %}
        <div class="row d-flex justify-content-center mb-4 mt-4 width100">
            <div class="col-2">
                {{ post.titre }}
            </div>
            <div class="col-2">
                {{ post.chapo }}
            </div>
            <div class="col-2">
                {{ post.contenu[:50] }}
            </div>
            <div class="col-2">
                {{ post.date_maj|date("d/m/Y") }}
            </div>
            <div class="col-2">
                <button class="btn btn-primary">Modifier le post</button>
            </div>
            <div class="col-2">
                <button class="btn btn-danger">Supprimer le post</button>
            </div>
        </div>
        <hr class="hrPost">
    {% endfor %}
        


    <nav>
        <ul class="pagination">
            <!-- Lien vers la page précédente (désactivé si on se trouve sur la 1ère page) -->
            <li class="bgPagi page-item {{currentPage == 1 ? ' disabled' : ''}} ">
                <a href="./admin?page{{currentPage - 1}}" class="page-link bgPagi">Précédente</a>
            </li>
            {% for page in 1 .. pages %}
                <!-- Lien vers chacune des pages (activé si on se trouve sur la page correspondante) -->
                <li class=" bgPagi page-item {{currentPage == page ? " active" : "" }}">
                    <a href="./admin?page={{page}}" class="bgPagi page-link">{{page}}</a>
                </li>
            {% endfor %}
            <!-- Lien vers la page suivante (désactivé si on se trouve sur la dernière page) -->
            <li class="bgPagi page-item {{currentPage == pages ? " disabled" : "" }}">
                <a href="./admin?page={{currentPage + 1}}" class="page-link bgPagi">Suivante</a>
            </li>
        </ul>
    </nav>

</div>